<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTnwG1VIA7xT1W1fhP-HW9WHkAXbSNJA4</string>
	<key>GCM_SENDER_ID</key>
	<string>449737903657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rkosysdev.traveller.travellerMobileFlutter</string>
	<key>PROJECT_ID</key>
	<string>travellersec</string>
	<key>STORAGE_BUCKET</key>
	<string>travellersec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449737903657:ios:867c398e32518ee77ed638</string>
</dict>
</plist>